<% include ../partials/header %>
    <div class="row">
        <h1 class="form-title">Edit <%= textbook.name %></h1>
        <div class="textbook-form">
            <form action="/textbooks/<%= textbook._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <label>Name:</label>
                    <input class="form-control" type="text" name="textbook[name]" value="<%= textbook.name %>">
                </div>
                <div class="form-group">
                    <label>Select an image file:</label>
                    <input type="file" id="file-input">
                    <img style="border:1px solid gray;width:100%;"  id="preview" src="<%= textbook.image %>">
                    <input type="hidden" id="image-url" name="textbook[image]" value="<%= textbook.image %>">
                    <!--<input class="form-control" type="text" name="campground[image]" value="<%= textbook.image %>">-->
                </div>
                <div class="form-group">
                    <label>Price:</label>
                    <input class="form-control" type="number" name="textbook[price]" value="<%= textbook.price %>" min="0.00" step="0.01">
                </div>
                <div class="form-group">
                    <label>Location:</label>
                    <input class="form-control" type="text" name="textbook[location]" id="location" value="<%= textbook.location %>">
                </div>
                <div class="form-group">
                    <label>Description:</label>
                    <input class="form-control" type="text" name="textbook[description]" value="<%= textbook.description %>">
                </div>
                <button class="btn btn-primary btn-block">Submit!</button>
            </form>
            <a href="/textbooks/<%=textbook._id%>">Go Back</a>
        </div>
    </div>
    <!--custom js for image upload to amazon s3-->
    <script src="/scripts/imageUploader.js" async defer></script>

<% include ../partials/footer %>